<mat-card class="cardprincipal"> <!-- Layout - Card -->
  <form [formGroup]="orderForm">
      <mat-grid-list cols="2" rowHeight="400px"> <!-- Layout - Grid List -->
        <mat-grid-tile> <!-- cols="1" -->
          <div class="padding5"> 
            <mat-form-field> <!-- Tópico // -->
              <input matInput placeholder="Tópico" formControlName="topico" required>
            </mat-form-field> <!-- Tópico // -->
            <label> <!-- Por disciplina -->
              <mat-slide-toggle formControlName="por_disciplina" class="margin">Por disciplina "questionário vinculado a disciplina q a turma cursou"</mat-slide-toggle>
            </label> <!-- Por disciplina -->
            <br/><br/>
            <div><!-- Típo de resposta --> 
              <label id="radio-group-label">Escolha o típo de resposta desejado</label>
                <mat-radio-group
                  aria-labelledby="example-radio-group-label"
                  class="radio-group"
                  formControlName="tipo_resposta">
                  <mat-radio-button class="radio-button" *ngFor="let tpresposta of tipoRespostas" [value]="tpresposta.value">
                    {{tpresposta.viewValue}}
                  </mat-radio-button>
                </mat-radio-group> 
            </div><!-- Típo de resposta -->      
                  
          </div>
        </mat-grid-tile> <!-- cols="1" -->
        <mat-grid-tile> <!-- cols="2" -->
          <div class="padding5"> 
            <!-- Público Alvo -->    
            <mat-selection-list matInput #publicos formControlName="publico_alvo">
                <mat-list-option *ngFor="let publico of tipoPublicos" [value]="publico.value">
                  {{publico.viewValue}}
                </mat-list-option>
              </mat-selection-list>
            <!-- Público Alvo -->
            <mat-form-field> <!-- Possiveis respostas -->
              <input matInput placeholder="Quantidade de possiveis respostas" formControlName="possiveis_respostas" required>
            </mat-form-field> <!-- Possiveis respostas -->
            <!--<mat-form-field> <!-- Questões 
              <input matInput  placeholder="Questão 01" formControlName="questoes" required>
            </mat-form-field>  Questões -->
            <button mat-button type="submit" (click)="addItem()">Acrescentar</button>
          </div>
        </mat-grid-tile> <!-- cols="2" -->
      </mat-grid-list>    
    </form>
  <button mat-button type="submit" (click)="addItem()">Adicionar mais campos</button>
</mat-card>

<mat-card class="cardprincipal">
  <div class="padding1"> 
    <div> 
      Tópico:<h1>{{ orderForm.controls.topico.value }}</h1>
    </div>
    
    <form [formGroup]="orderForm">
      <div formArrayName="items" *ngFor="let item of orderForm.get('items').controls; let i = index;">
        <div [formGroupName]="i">
            <mat-form-field> <!-- Tópico // -->
              <input matInput placeholder="Questão" formControlName="questoes" required>
            </mat-form-field>            
        </div>
      </div> 
    </form>
  </div>
</mat-card>

<!--
-----------------------------------------------------------------------------

var mongoose = require('mongoose');
var Schema   = mongoose.Schema;
var Questao  = require('./QuestaoModel.js');

var QuestionarioSchema = new Schema({
  'topico' : String,
  'publico_alvo' : Number,
  'por_disciplina': Boolean,
  'tipo_resposta' : Number,
  'questoes': [ Questao.schema ],
  'possiveis_respostas': [ Schema.Types.Mixed ],
  'labels_respostas': [ String ],
});

module.exports = mongoose.model('Questionario', QuestionarioSchema);

-----------------------------------------------------------------------------
-->