.container {
    width: 80%;
    margin: auto;
    padding-top: 20px;
}

.content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.input-avaliacao {
    width: 100%;
}

.periodo {
    width: 30%;
}

.toggle-ativo {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
}

.label-avaliacao {
    width: 100%;
    padding-top: 7px;
}

.questoes, .card-questao {
    display: flex;
    width: 95%;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 0;
  }

  .card-questao {
    margin-top: 10px;
    background-color: #fafafa;
  }
  
  .questoes > button {
    margin: 10px;
  }
  
  .questao-header, .questao-content {
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }
  
  .questao-content {
    justify-content: flex-start;
  }
  
  .questao-header > h4 {
    width: 90%;
  }
  
  .questao-header > .menulateral {
    float: right;
    margin-top: 5px;
  }
  
  .questao-content > div {
    width: 100%;
  }
  
  .questao-content > mat-form-field {
    width: 100%;
  }
  
  mat-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    width: 100%;
  }
  
  mat-radio-button {
    margin: 3px;
  }
  
  :host ::ng-deep .mat-radio-label, :host ::ng-deep .mat-radio-label-content {
    width: 100%;
  }
  
  .icon-radio {
    float: right;
  }

  .questao {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .questao > mat-form-field {
    width: 100%
  }

  .btn_questao {
    width: 100%;
    display: flex;
    justify-content: center;
  }