.cardprincipal {
  min-width: 50%;
  margin: auto;
  margin-top: 20px;
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}
  
.radio-button {
  margin: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
}

.form {
  min-width: 80%;
  max-width: 95%;
  width: 100%;
  align-items: center;
}

.full-width {
  width: 100%;
}

.metade-width {
  width: 50%;
}

.width-10 {
  width: 10%;
}

.slide-toggle {
  flex-direction: row;
  padding-left: 20px;
}

table {
  width: 100%;
}

.buttonClicks {
  margin: 16px 8px;
  margin: auto;
  display: flex;
}

.padding1{
  margin-top: 20px;
}

/*Layout - Expansion Panel*/
.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

mat-form-field {
  margin-right: 12px;
}

.menuBotoes{
  float: right;
}