<div class="container">
  <mat-accordion>
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Avaliação
        </mat-panel-title>
      </mat-expansion-panel-header>
      <!-------------------------------------- Avaliação -------------------------------------->
      <div class="content" *ngIf="status == 'view'">
        <mat-form-field appearance="legacy" class="input-avaliacao">
          <mat-label>Título da Avaliação</mat-label>
          <input matInput placeholder="Insira o título da avaliação" [(ngModel)]="avaliacao.titulo" autocomplete="off">
        </mat-form-field>

        <mat-form-field appearance="legacy" class="input-avaliacao">
          <mat-label>Observação</mat-label>
          <textarea matInput placeholder="Insira uma observação" [(ngModel)]="avaliacao.observacao"
            autocomplete="off"></textarea>
        </mat-form-field>

        <mat-form-field appearance="legacy" class="periodo">
          <mat-label>Período</mat-label>
          <input matInput placeholder="Insira o período" [(ngModel)]="avaliacao.periodo">
        </mat-form-field>


        <div class="toggle-ativo">
          <mat-slide-toggle color="primary" [checked]="avaliacao.ativo" (change)="change()">
            Ativo
          </mat-slide-toggle>
        </div>

        <mat-form-field>
          <input matInput placeholder="Data Limite" [(ngModel)]="avaliacao.data_limite" [matDatepicker]="picker">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <label class="label-avaliacao">Público Alvo</label>
        <mat-checkbox [(ngModel)]="avaliacao.publico_alvo[0]">
          Docentes
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="avaliacao.publico_alvo[1]">
          Discentes
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="avaliacao.publico_alvo[2]">
          Técnicos
        </mat-checkbox>
      </div>

      <!-------------------------------------- Avaliação -------------------------------------->
      <mat-action-row>
        <button mat-button color="primary" (click)="salvarAvaliacao()">Salvar</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Questionário
        </mat-panel-title>
      </mat-expansion-panel-header>
      <!-------------------------------------- Questionário -------------------------------------->
      <div class="questoes">
        <mat-card class="card-questao" *ngFor="let questao of avaliacao.questionarios; let j=index">
          <div class="questao-header">
            <h4>{{questao.topico}}</h4>
            <div class="menulateral">
              <button mat-icon-button [matMenuTriggerFor]="menuQuestao" (click)="selecionarQuestao(j)">
                <mat-icon aria-label="Menu da questão">more_vert</mat-icon>
              </button>
            </div>
          </div>

          <div class="questao-content">
            <mat-form-field *ngIf="questao.tipo_resposta == 'curta'">
              <input matInput placeholder="Resposta curta" disabled>
            </mat-form-field>

            <mat-form-field *ngIf="questao.tipo_resposta == 'longa'">
              <textarea matInput placeholder="Resposta longa" disabled></textarea>
            </mat-form-field>

            <div *ngIf="questao.tipo_resposta == 'objetiva'">
              <mat-radio-group disabled={{true}}>
                <mat-radio-button *ngFor="let resposta of questao.possiveis_respostas;let k=index" [value]="resposta">
                  {{questao.labels_respostas[k]}}
                  <mat-icon class="icon-radio" (click)="delObjetiva(j,k)"
                    matTooltip='Apagar opção "{{questao.labels_respostas[k]}}"'>delete</mat-icon>
                  <mat-icon class="icon-radio" matTooltip='Editar opção "{{questao.labels_respostas[k]}}"'>create
                  </mat-icon>
                </mat-radio-button>
              </mat-radio-group>

              <button mat-icon-button color="primary" (click)="addObjetiva(j)" matTooltip="Adicionar opção">
                <mat-icon>add</mat-icon>
              </button>

              <div *ngIf="questao.por_disciplina == false" class="questao">
                <h5>QUESTÕES</h5>   
                             
                  <mat-form-field *ngFor="let ques of questao.questoes; let z=index">
                    <textarea matInput placeholder="Questão" [(ngModel)]="questao.questoes[z]"></textarea>
                  </mat-form-field>

                <div class="btn_questao">
                  <button mat-icon-button color="primary" (click)="addQuestao(j)" matTooltip="Adicionar questão">
                    <mat-icon>add</mat-icon>
                  </button>
                </div>
              </div>
            </div>

          </div>
        </mat-card>

        <button mat-raised-button color="primary" (click)="newQuestao()" matTooltip="Adicionar questionário">Adicionar
          Questionário</button>
      </div>

      <!-------------------------------------- Questionário -------------------------------------->
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Voltar</button>
        <button mat-button color="accent" (click)="salvarQuestionario()">Salvar</button>
        <button mat-button color="primary" (click)="nextStep()">Próximo</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Breve Resultado
        </mat-panel-title>
      </mat-expansion-panel-header>
      <!-------------------------------------- Breve Resultado -------------------------------------->
      <div class="questoes">
        <mat-card class="card-questao" *ngFor="let questao of avaliacao.questionarios; let j=index">
          <div class="questao-header">
            <h4>{{questao.topico}}</h4>
          </div>

          <div class="questao-content">
            <mat-form-field *ngIf="questao.tipo_resposta == 'curta'">
              <input matInput placeholder="Resposta curta" disabled>
            </mat-form-field>

            <mat-form-field *ngIf="questao.tipo_resposta == 'longa'">
              <textarea matInput placeholder="Resposta longa" disabled></textarea>
            </mat-form-field>

            <div *ngIf="questao.tipo_resposta == 'objetiva'">
              <mat-radio-group disabled={{true}}>
                <mat-radio-button *ngFor="let resposta of questao.possiveis_respostas;let k=index" [value]="resposta">
                  {{questao.labels_respostas[k]}}
                </mat-radio-button>
              </mat-radio-group>
            </div>

          </div>
        </mat-card>
      </div>
      <!-------------------------------------- Breve Resultado -------------------------------------->
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Voltar</button>
        <button mat-button color="primary" (click)="nextStep()">Finalizar</button>
      </mat-action-row>
    </mat-expansion-panel>

  </mat-accordion>
  <mat-menu #menuQuestao="matMenu">
    <button mat-menu-item (click)="editQuest()">
      <mat-icon>create</mat-icon>
      <span>Editar</span>
    </button>
    <button mat-menu-item (click)="delQuest()">
      <mat-icon>delete</mat-icon>
      <span>Excluir</span>
    </button>
  </mat-menu>
</div>