<mat-card class="cardprincipal"> <!-- Layout - Card -->
  <mat-grid-list cols="1" rowHeight="400px"> <!-- Layout - Grid List -->
    <mat-grid-tile>
    <div class="padding5">            
      <mat-horizontal-stepper linear #stepper><!-- Layout - Stepper -->
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Informações Básicas</ng-template>
            <div class="controles-t">
              <input type="hidden" formControlName="$key">
              <mat-form-field> <!-- Título //-->
                <input matInput placeholder="Título" formControlName="titulo" required>
              </mat-form-field> <!-- Título //-->
              <mat-form-field> <!-- Questionário -->
                <textarea matInput placeholder ="Questionário" formControlName="questionarios" required> </textarea>
              </mat-form-field> <!-- Questionário --> 
              <mat-form-field> <!-- Período -->
                <input matInput  placeholder="Período" formControlName="periodo" required>
              </mat-form-field> <!-- Período -->          
              <div> <!-- Status Ativado/Terminado -->
                <mat-slide-toggle formControlName="ativo" class="margin">Ativo</mat-slide-toggle> 
                <mat-slide-toggle formControlName="terminado" class="margin">Terminado</mat-slide-toggle> 
              </div>                                    
            </div>
            <div>
              <button mat-button matStepperNext>Próximo</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Datas</ng-template>
            <div class="controles-t">
              <mat-form-field> <!-- Data Ativação -->
                <input matInput placeholder="Data Ativação" formControlName="data_ativacao" [matDatepicker]="picker1" [formControl]="date">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field> <!-- Data Ativação -->
              <mat-form-field> <!-- Data Limite -->
                <input matInput placeholder="Data Limite" formControlName="data_limite" [matDatepicker]="picker2" required>
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>  <!-- Data Limite -->          
              <mat-form-field> <!-- Observação -->
                <textarea matInput placeholder ="Observações" formControlName="observacao" required> </textarea>
              </mat-form-field> <!-- Observação -->
            </div>
            <div>
              <button mat-button matStepperPrevious>Voltar</button>
              <button mat-button matStepperNext>Próximo</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="thirdFormGroup">
            <form [formGroup]="thirdFormGroup">
              <ng-template matStepLabel>Público Alvo</ng-template>
              <div class="controles-t">
                  <mat-accordion> <!-- Público Alvo -->
                    <mat-expansion-panel [expanded]="step === 0" hideToggle>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          Público Alvo *
                        </mat-panel-title>
                        <mat-panel-description>
                          Público(s) escolhido: {{publicos.selectedOptions.selected.length}}
                        </mat-panel-description>
                      </mat-expansion-panel-header>
            
                      <mat-selection-list matInput #publicos formControlName="publico_alvo">
                        <mat-list-option *ngFor="let publico of tipoPublicos" [value]="publico.value">
                          {{publico.viewValue}}
                        </mat-list-option>
                      </mat-selection-list>
                    </mat-expansion-panel>
                  </mat-accordion> <!-- Público Alvo -->
              </div>
              <div>
                <button mat-button matStepperPrevious>Voltar</button>
                <button mat-button matStepperNext>Próximo</button>
              </div>
            </form>
          </mat-step>
        <mat-step>
          <ng-template matStepLabel>Concluir</ng-template>
          Deseja concluir?
          <div class="padding4">
            <button mat-button type="submit" (click)="onSubmit()">Salvar</button>
            <button mat-button matStepperPrevious>Voltar</button>
            <button mat-button (click)="stepper.reset()">Cancelar</button>
          </div>
        </mat-step>
      </mat-horizontal-stepper> <!-- Layout - Stepper -->          
    </div>
    </mat-grid-tile>
  </mat-grid-list> <!-- Layout - Grid List -->
</mat-card> <!-- Layout - Card -->

<!--
-----------------------------------------------------------------------------
var mongoose = require('mongoose');
var Schema   = mongoose.Schema;
var Questionario = require('./QuestionarioModel');

var AvaliacaoSchema = new Schema({
  'periodo' : Number,
  'questionarios' : [ Questionario.schema ],
  'ativo' : Boolean,
  'terminado' : Boolean,
  'data_ativacao' : Date,
  'data_limite' : Date,
  'public_alvo' : [ Number ],
  'titulo' : String,
  'observacao' : String,
  'participantes': [{ 
    'participante': Schema.Types.ObjectId, 'tipo_participante': Number }],
});

module.exports = mongoose.model('Avaliacao', AvaliacaoSchema);

-----------------------------------------------------------------------------
-->