<!--
  <mat-accordion class="example-headers-align"> <!-- Expansion Panel 
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Avaliação
          </mat-panel-title>
        </mat-expansion-panel-header><!-- Avaliação  
    
        <mat-action-row>
          <button mat-button color="primary" (click)="nextStep()">Próximo</button>
        </mat-action-row>
      </mat-expansion-panel>
    
      <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Questionário
          </mat-panel-title>
        </mat-expansion-panel-header><!-- Questionário 
    
        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Voltar</button>
          <button mat-button color="primary" (click)="nextStep()">Próximo</button>
        </mat-action-row>
      </mat-expansion-panel>
    
      <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Breve Resultado
          </mat-panel-title>
        </mat-expansion-panel-header><!-- Conteudo 
    
        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Voltar</button>
          <button mat-button color="primary" (click)="nextStep()">Finalizar</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion><!-- Expansion Panel 
-->
<div class="container">
  <!-- container -->
  <mat-card class="cardprincipal">
    <!-- Layout - Card -->
    <mat-card-title>Avaliação</mat-card-title>
    <form [formGroup]="avalFormGroup" class="form">

      <mat-form-field class="full-width">
        <!-- Título //-->
        <input matInput placeholder="Título" formControlName="titulo" required>
      </mat-form-field> <!-- Título //-->

      <div>
        <mat-form-field class="width-10">
          <!-- Período -->
          <input matInput placeholder="Período" formControlName="periodo" required>
        </mat-form-field> <!-- Período a -->

        <label class="slide-toggle">
          <!-- Status Ativado -->
          <mat-slide-toggle formControlName="ativo" class="margin">Ativo</mat-slide-toggle>
        </label>

        <label class="slide-toggle">
          <!-- Status Terminado -->
          <mat-slide-toggle formControlName="terminado" class="margin">Terminado</mat-slide-toggle>
        </label>
      </div>

      <mat-form-field class="full-width">
        <!-- Observação -->
        <textarea matInput placeholder="Observações" formControlName="observacao"> </textarea>
      </mat-form-field> <!-- Observação --> <br /><br />

      <div>
        <label>Público Alvo</label> <!-- Público Alvo -->
        <mat-selection-list matInput #publicos formControlName="publico_alvo">
          <mat-list-option *ngFor="let publico of tipoPublicos" [value]="publico.value">
            {{publico.viewValue}}
          </mat-list-option>
        </mat-selection-list> <!-- Público Alvo -->
      </div>

      <mat-form-field>
        <!-- Data Limite -->
        <input matInput placeholder="Data Limite" formControlName="data_limite" [matDatepicker]="picker2" required>
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field> <!-- Data Limite -->

      <mat-card-actions>
        <button mat-button type="submit" (click)="saveAval()">Concluir</button>
      </mat-card-actions>
    </form>
  </mat-card> <!-- Layout - Card -->

<!--
-----------------------------------------------------------------------------
var mongoose = require('mongoose');
var Schema   = mongoose.Schema;
var Questionario = require('./QuestionarioModel');

var AvaliacaoSchema = new Schema({
  'periodo' : Number,
  'questionarios' : [ Questionario.schema ],
  'ativo' : Boolean,
  'terminado' : Boolean,
  'data_ativacao' : Date,
  'data_limite' : Date,
  'public_alvo' : [ Number ],
  'titulo' : String,
  'observacao' : String,
  'participantes': [{ 
    'participante': Schema.Types.ObjectId, 'tipo_participante': Number }],
});

module.exports = mongoose.model('Avaliacao', AvaliacaoSchema);
-----------------------------------------------------------------------------
-->


  <mat-card class="cardprincipal">
    <!-- Layout - Card -->
    <mat-card-title>Questionários</mat-card-title>
    <form [formGroup]="questForm" class="form">

      <mat-form-field class="full-width">
        <!-- Tópico // -->
        <input matInput placeholder="Tópico" formControlName="topico" required>
      </mat-form-field> <!-- Tópico // --><br /><br />

      <div>
        <label>Público Alvo</label> <!-- Público Alvo -->
        <mat-selection-list matInput #publicos formControlName="publico_alvo">
          <mat-list-option *ngFor="let publico of tipoPublicos" [value]="publico.value">
            {{publico.viewValue}}
          </mat-list-option>
        </mat-selection-list>
      </div><!-- Público Alvo --><br />

      <div>
        <!-- Típo de resposta -->
        <label id="radio-group-label">Escolha o típo de resposta desejado</label>
        <mat-radio-group aria-labelledby="example-radio-group-label" class="radio-group"
          formControlName="tipo_resposta">
          <mat-radio-button class="radio-button" *ngFor="let tpresposta of tipoRespostas" [value]="tpresposta.value">
            {{tpresposta.viewValue}}
          </mat-radio-button>
        </mat-radio-group>
      </div><!-- Típo de resposta -->

      <!--  Possiveis respostas -->
      <mat-accordion *ngIf="this.questForm.value.tipo_resposta == '0'">
        <!--Expansion Panel -->
        <mat-expansion-panel>
          <!--Expansion Panel -->
          <mat-expansion-panel-header>
            <mat-panel-title>
              Possiveis Respostas
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div *ngFor="let item of questForm.get('valResp').controls; let i = index;">
            <div formArrayName="valResp">
              <div [formGroupName]="i">
                <mat-form-field>
                  <!-- labels_respostas -->
                  <input matInput placeholder="Descrição" formControlName="labels_respostas">
                </mat-form-field> <!-- Possiveis respostas -->
                <mat-form-field class="slide-toggle">
                  <!-- Valor de Reposta // -->
                  <input matInput placeholder="Valor/Reposta" formControlName="possiveis_respostas">
                </mat-form-field> <!-- Valor de Reposta // -->

              </div>
            </div>
          </div>
          <button mat-mini-fab type="submit" (click)="addValResp()">
            <mat-icon aria-label="Example icon-button with a add icon">add</mat-icon>
          </button>
        </mat-expansion-panel>
        <!--Expansion Panel -->
      </mat-accordion>
      <br />

      <label>
        <!-- Por disciplina -->
        <mat-slide-toggle formControlName="por_disciplina" class="margin">Por disciplina</mat-slide-toggle>
      </label> <!-- Por disciplina -->

      <br /><br />

      <!--  Possiveis Questão -->
      <mat-accordion *ngIf="this.questForm.value.por_disciplina == '0'">
        <!--Expansion Panel -->
        <mat-expansion-panel>
          <!--Expansion Panel -->
          <mat-expansion-panel-header>
            <mat-panel-title>
              Questões
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div *ngFor="let item of questForm.get('valQuest').controls; let i = index;">
            <div formArrayName="valQuest">
              <div [formGroupName]="i">
                <mat-form-field class="full-width">
                  <!-- Questão // -->
                  <input matInput placeholder="Questão" formControlName="questoes">
                </mat-form-field>
              </div>
            </div>
          </div>
          <button mat-mini-fab type="submit" (click)="addQuest()">
            <mat-icon aria-label="Example icon-button with a add icon">add</mat-icon>
          </button>
        </mat-expansion-panel>
        <!--Expansion Panel -->
      </mat-accordion>



      <mat-card-actions>
        <button mat-button type="submit" (click)="saveQuest()">Salvar</button>
      </mat-card-actions>
    </form>
  </mat-card>

  <!--
-----------------------------------------------------------------------------
var mongoose = require('mongoose');
var Schema   = mongoose.Schema;
var Questao  = require('./QuestaoModel.js');

var QuestionarioSchema = new Schema({
  'topico' : String,
  'publico_alvo' : Number,
  'por_disciplina': Boolean,
  'tipo_resposta' : Number,
  'questoes': [ Questao.schema ],
  'possiveis_respostas': [ Schema.Types.Mixed ],
  'labels_respostas': [ String ],
});

module.exports = mongoose.model('Questionario', QuestionarioSchema);
-----------------------------------------------------------------------------
-->